
.logincontainer{

    
    align-items: center;
    background-color: white;
    height: 50vh;
    display:flex;
    flex-direction: column;
     margin-top:100px;
     margin-left: 500px;
     align-items: center;
     padding: 20px;
     border-radius: 30px;
     width:200px;
     padding-bottom: -50px  ;
  
}

.login{
    position: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    background-image: url("https://img.freepik.com/free-photo/young-woman-with-shopping-bags-standing-clothing-store_52137-20576.jpg?size=626&ext=jpg&ga=GA1.2.847283158.159992420");
    
}

.log
{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-underline-position: unset;
    text-decoration: none;
    color: rgb(221, 167, 31);
    margin-bottom: 20px;
}
.signintext
{
    margin-left: 50px;
}

.loginbutton
{
    margin-top: 5px;
    margin-left: 60px;
}

.registerbutton
{
    margin-top: 5px;
    margin-left: 45px;
}
.logintext
{
    margin-top: 10px;
    margin-bottom:15px;
}

.loginpassword
{
    margin-top: 10px;
    margin-bottom:10px;
}
