.product__title
{
    color: black;
}
.star
{color: gold;}



.product:hover
{ transform: scale(1.1);}

.product
{

    transition: all .2s ease-in-out; 
   background-color: white;
    display:flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    align-items: center;
    justify-content: flex-end;
    padding:20px;
    margin-top: 2px;
     margin: 10px;
    width: 100%;
   
}
.product >img
{
    max-height: 180px;
  
    object-fit: contain;
    margin-bottom: 15px;
    padding-bottom: 1px;
    margin-left:0;
    

}
.product__title
{
height:10px;
margin-bottom:15px;
}

.product__price
{
margin-top: 5px;
}

button{
    background-color: #f0c14b;
    border:1px solid;

}
.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }

button:hover{
   background-color:whitesmoke;
}